body {
	font-family: "Times New Roman";
	font-size: 18px;
	background: rgba(0,0,255, .5) ;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  float: right;
}

#bodyBack {
	position: absolute;
	opacity: .75;
}

.proceedBtn {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.comm5 {
	color: white;
}

#section2 {
	background: url(images/background.jpg);
	background-size: cover;
	border: 2px solid cornflowerBlue;
	border-radius: 18px;
}

#section3, #section1 {
	background: transparent;
	border-radius: 14px;
	border: 2px solid cornflowerBlue;
	border-radius: 18px
} 

#fontsize {
	display: inline-block;
	float: left;
	width:50%;
}

#fontfamily {
	display: inline-block;
	float: right;
	width: 50%;
}

#confirmDbChangeBtn {
	margin-top: 5%;
	margin-left: 20%;
	font-size: 1em;
	padding: 5%;
	width: 60%;
}

#welcome-close {
	margin-top: 2.5%;
	width:40%;
	margin-left:30%;
}

#submitSound, #resetSoundChangeBtn {
	font-size: 1.65rem;
	width: 60%;
	margin-left: 20%;
	padding: 5% 3% 5% 3%;
	margin-top: 1%;
	margin-bottom: 3%;
	border-radius: 8px;
}

#welcome-modal {
	background: url(images/welcome_modal.png);
}

#sideDivLeft p {
	font-family: monospace;
	font-size: 1.35rem;
	padding-top: 5%;
	padding-bottom: 4%;
}

#login-sign-in-link {
	color: blue;
	text-decoration: none;
}

#login-buttons {
	margin-top: 2%;
	margin-left: 1%;
}

.comment1 {
	font-style: italic;
	text-align: right;
	color: red;
}

textarea {
	font-family: monospace;
	font-size: 1.3em;
	width: 95%;
	padding: 2.5% 5% 0 5%;
	text-indent: 25px;
	line-height: 1.3em;
}

#unregis {
	font-size: 2rem;
	letter-spacing: .15em;
	font-weight: 800;
}

.hidden2 {
	visibility: hidden;
}

.fa-4x {
	margin-top: 2.5%;
}

header {
	padding-top: 1.5%;
	font-family: Verdana;
	color: white;
	text-align: center;
	font-style: oblique;
	letter-spacing: 1px;
	word-spacing: 1.5px;
}

h3 {
	text-shadow: 1px 2px #333;
	font-size: 2.2em;
	line-height: 1.2em;
	font-weight: 800;
	padding-bottom: 4%;
}

.fa2 {
	margin-right: 1.5%;
	text-shadow: 1px 2px black;
	color: white;
}

.textInput {
	padding-left: 20%;
	padding-top: 3.5%;
	font-family: Monospace sans;
	color: black;
	font-weight: 300;
}

#success {
	color: green;
	font-size: 1.5rem;
	letter-spacing: .035em;
}

hr {
	margin-top: 0%;
	margin-left: 20%;
	width: 60%;
}

#sideDivRight h4 {
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 4rem;
	font-weight: 800;
	color: white;
	text-shadow: 2px 2px black;
}

.podInfo {
	padding-top: 4%;
}

.podInfo2 {
	padding-top: 5%;
	padding-bottom: 4%;
}

#vertBtn1, #vertBtn3 {
	display: inline-block;
	float: left;
	width:50%;
}

#about .modal-header, #about .modal-footer {
	background: url(images/favBackground2.jpg);
	background-size: cover;
}

#vertBtn2, #vertBtn4 {
	display: inline-block;
	float: right;
	width: 50%;
}

.btn2 {
	margin-bottom: 2%;
}

.btn4, .btn3 {
	padding-top: 2%;
	padding-bottom: 3%;
}

th {
	font-size: 1.4em;
	font-family: monospace;

	background: rgba(176,196,222,.3);
	color: white;
	letter-spacing: .1em;
	border: 1px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
}

th a {
	color: white;
}

th td {
	text-shadow: 1px 1px white;
	font-size: 3em;
}

th a:hover {
	color: black;
	text-decoration: none;
}

th a:active {
	color: white;
}

th a:visited {
	color: white;
}

.sideDivBtn {
	letter-spacing: .5em;
}

.buttonsSet {
	padding-top: 10%;
	padding-bottom: 5%;
}

.btn-primary {
	border-radius: 4px;
	font-size: 1.05em;
	letter-spacing: .01em;
	width: 100%;
}

#settings {
	font-size: 1.25rem;
}

#settings p {
	padding-bottom: 7.5%;
}

.settingsOptions {
	text-align: left;
}

#mainDiv {
	max-width: 100%;
}

#more a {
	font-size: 1em;
	color: blue;
	text-shadow: 1px 1px lightBlue;
}

#more a:hover {
	text-decoration: none;
	letter-spacing: .1em;
	font-style: oblique;
}

.note1 {
	padding: 2% 0 0 4%;
	background: url(images/wall1.png);
	background-size: 100% 100%;
}

.notesInfo1 {
	font-family: "Times New Roman";
	font-size: .95em;
	font-style: oblique;
	line-height: .7em;
	padding-top: .25em;
}

.jq-small1 {
	margin-left: 28%;
}

#ni4 {
	padding-left: 14%;
	padding-bottom: 5%;
}

.buttons {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#note, .notesList {
	margin-top: 2%;
	padding: 0 3%;
}

.addressbook {
	background: url(images/contacts.jpeg);
	background-size: cover;
	height: 49vh;
	width: 94%;
	margin-left: 3%;
	border: 3px solid #666;
	border-radius: 8px;
	overflow: auto;
}

.noteslist{
	background: url(images/noteslist.jpg);
	background-size:100% 100%;
	position: relative;
	font-family: verdana;
	text-align: left;
	border-left: none;
	border-right: none;
	border-radius: 16px;
	margin-top: 0%;
	margin-bottom: 2%;
	border: 3px ridge #666;
	overflow: scroll;
	padding-left: 5%;
	padding-right: 5%;
	height:49vh;
}

.social, .logoImage {
	padding-top: 5%;
	padding-bottom: 5%;
}

#logo1 {
	margin-left: 25%;
}

.cpP {
	color: orange;
	font-weight: 600;
	font-size: 2.65rem;
	letter-spacing: .15em;
	line-height: .75em;
	text-shadow: 1px 1px black;
}

.onlyText {
	font-family: verdana;
	font-size:3em;
	font-weight: bold;
	color: white;
	text-shadow: 1px 2px #666;
}

.notesButtons1 {
	/*padding-left: 3%;*/
	padding-bottom: 2.5%;
}

.followUs {
	color: blue;
	background: transparent;
	text-shadow: 0 2px white;
}

.fixedSettings {
	position: fixed;
	bottom: 7.5%;
	right:33%;
}

.desc {
	font-size: .8em;
	padding: 0;
}

.saveNote {
	position: relative;
	display: inline-block;
	float: right;
	top: 0;
	margin-right: 3%;
}

.floatLeft {
	padding-right: 2%;
	display: inline-block;
	float: left;
	width: 36%;
}

.float-right {
	margin-right: left;
	display: inline-block;
	float: left;
	width: 62%;
	line-height: 1.2em;
}

.favourites {
	background: url(images/favBack.jpg);
	background-size: cover;
	position: relative;
	font-family: verdana;
	padding: 2% 5% 2% 5%;
	text-align: left;
	border: 3px ridge brown;
	border-left: none;
	border-right: none;
	border-radius: 16px;
	margin-left: 3%;
	margin-top: 3%;
	width: 94%;
	height: 49vh;
	overflow: auto;
}

.notesList h2 {
	text-align: center;
	padding-bottom: 1%;
	font-family: Forque;
	font-weight: 600;
	letter-spacing: .1em;
	text-shadow: 0 2px white;
}

h4 {
	font-family: monospace;
	font-size: 2.7rem;
}

.yellow {
	background: rgba(100,149,237,.6);
}

.favPar {
	font-family: verdana;
	font-size: 2rem;
	padding-bottom: 5%;
}

.favourites a {
	font-size: 1.8em;
}

.selected {
	background: rgba(100,149,237,.6);
}

.hidden2 {
	visibility: hidden;
}

.fa2:hover {
	color: black;
}

.div1 {
	display: inline-block;
	float:right;
	width: 94%;
	margin-right: 1%;
	padding-top:0%;
}
.div2 {
	display: inline-block;
	float:right;
	width:5%;
	/*margin-top:2.75%;*/
}

.div1 .comm3 {
	width: 90%;
	padding-top: 0;
}

.selectedAddress {
	border: 4px solid red;
}

.comm4 {
	bottom: 15%;
}

.comm4, .comm5{
	float: right !important;
}
.table-bordered {
	font-family: Verdana;
	border: 2px solid black;
	border-radius: 18px;
	padding: 2%;
}

.table-bordered th {
	padding: 2.5% 2% 2.5% 2%
}

.contactComment {
	color: black;
	font-size: 1.5rem;
	margin-bottom: .75%
}

.table-bordered td {
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 1.4em;
	color: #333;
}

.comm4:hover {
	color:black;
}

.commentInput {
	margin-left: 5%;
	color: black;
	font-style: monospace;
	font-size: .5em;
	text-align: center;
	letter-spacing: .01em;
	font-style: oblique;
	font-weight: 500;
	vertical-align: middle;;
}

.red {
	margin: .5%;
	padding: 0%;
	color: red;
}

.noteslist ul li {
	margin-top: 2.5%;
}

.favName {
	background: rgba(240,255,255, .2);
	color: blue;
	text-shadow: 1px 2px white;
	border-radius: 12px;
}
	
.selected2 {
	font-weight:600;
	padding: 3%;
	border: 2px solid cornflowerBlue;
	background: cornflowerBlue;
	border-radius:18px;
}


#editUrlBtn, #addUrlBtn {
	background: transparent;
	padding:1% 2% 1% 2%;
	border: 1px solid black;
	border-radius: 8px;
}

#submitEditedUrl p, #submitEditedUrl span, #submitUrl p, #submitUrl span {
	font-family: monospace;
}
	
.inputi:hover{
	border: "2px solid grey";
}

.modal-body {
	background: url(images/addressBack.jpg);
	background: cover;
}

/*  MEDIA QUERIES  */

/*
@media screen and (max-width: 1200px) {
	header {
		padding-top: 3%;
		letter-spacing: .8px;
		word-spacing: 1.2px;
	}

	h3 {
		text-shadow: 1.25px 1.25px red;
		font-size: 1.8em;
		line-height: 1em;
		font-weight: 700;
		padding-bottom: 4%;
	}
	
	.notesButtons1 {
		padding-bottom: 1%;
	}
	
	.textInput {
		padding-top: 2%;
		font-weight: 200;
		font-size: 1.5rem;
	}	
}

@media screen and (max-width: 692px) {
	header {
		padding-top: 2%;
		letter-spacing: .6px;
		word-spacing: 1px;
	}

	h3 {
		text-shadow: 1px 1px red;
		font-size: 1.5em;
		line-height: 1.1em;
		font-weight: 700;
		padding-bottom: 3%;
	}
	
	.notesButtons1 {
		padding-bottom: .5%;
	}
}
*/